.blocServices{
    float:left;
    width: 100%;
}
.blocMiniServices{
    width:85%;
    margin:auto;
}
.blocServices .content{
    background:#08b9db;
}
.blocMiniServices .content{
    background:#08b9db;
    float:left;
}
.blocServices .titre{
    background:#014a7f;
    color:white;
    font-family: "Roboto",sans-serif;
    letter-spacing: -1px;
    padding:7px 12px;
    font-size: 16px;
    font-weight: 500;
}
.blocMiniServices .titre{
    background:#014a7f;
    text-transform: uppercase;
    color:white;
    font-family: "Roboto",sans-serif;
    letter-spacing: -1px;
    padding:2px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}
.blocMiniServices .tuile{
    padding: 0 5px;
    text-align: center;
    border-bottom:1px solid white;
    float:left;
}
.blocMiniServices .tuile a img.img-responsive{
    width:75%;
    margin:auto;
}
.blocMiniServices .tuile a{
    color:#014a7f;
    letter-spacing: -1px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
}
.blocServices .tuile a{
    color:#014a7f;
}
.blocServices .triangle{
    background:url('../img/triangle-servicesplus.png') bottom center no-repeat;
    width:100%;
    height:16px;
    float:left;
}
.blocServices .tuile{
    background:#2aabd3;
    text-align:center;
    color:#014a7f;
    text-transform: uppercase;
    font-size: 11px;
    border:1px solid #08b9db;
    font-family: "Roboto",sans-serif;
}

@media only screen and (min-width : 1200px){
    
}
@media only screen and (min-width : 979px) and (max-width : 1199px){
    
}

@media only screen and (min-width : 767px) and (max-width : 978px){
    
}

@media only screen and (min-width : 480px) and (max-width : 766px) {
    
}

@media only screen and (min-width : 320px) and (max-width : 479px){
    
}