.blocServices{
    float:left;
    width: 100%;
}

.blocServices .content{
    background:#08b9db;
}

.blocServices .titre{
    background:#014a7f;
    color:white;
    font-family: "Roboto",sans-serif;
    letter-spacing: -1px;
    padding:7px 12px;
    font-size: 16px;
    font-weight: 500;
}

.blocServices .tuile a{
    color:#014a7f;
}
.blocServices .triangle{
    background:url('../img/triangle-servicesplus.png') bottom center no-repeat;
    width:100%;
    height:16px;
    float:left;
}
.blocServices .tuile{
    background:#2aabd3;
    height: 95px;
    text-align:center;
    color:#014a7f;
    text-transform: uppercase;
    font-size: 11px;
    border:1px solid #08b9db;
    font-family: "Roboto",sans-serif;
    padding-top:5px;
}
.blocServices .tuile.tuilebottom,
.blocServices .tuile.tuilebottom,
.blocMiniServices .tuile.tuilebottom,
.blocMiniServices .tuile.tuilebottom
{
    background: #014a7f;
}
.blocServices .tuile.tuilebottom a
{
    color: #2aabd3;
}

/*********** minibloc *********/
.blocMiniServices{
    width:85%;
    margin:50px 0 0 0px;
}
.blocMiniServices .content{
    background:#08b9db;
    float:left;
}
.blocMiniServices .titre{
    background:#014a7f;
    text-transform: uppercase;
    color:white;
    font-family: "Roboto",sans-serif;
    letter-spacing: -1px;
    padding:2px;
    font-size: 10px;
    font-weight: 500;
    text-align: center;
}
.blocMiniServices .tuile{
    padding: 0 5px;
    text-align: center;
    border-bottom:1px solid white;
    float:left;
}

.blocMiniServices .tuile a img{
    width:50%;
    display:block;
    margin:auto;
}
.blocMiniServices .tuile a{
    color:#014a7f;
    letter-spacing: -1px;
    font-size: 11px;
    display: block;
    font-weight: 500;
    text-transform: uppercase;
}
.blocMiniServices .tuile.tuilebottom a{
    color: #2aabd3;
}
@media only screen and (min-width : 1200px){
    
}
@media only screen and (min-width : 979px) and (max-width : 1199px){
    
}

@media only screen and (min-width : 767px) and (max-width : 978px){
    .blocServices .tuile a span{
	/*display:none;*/
    }
    .blocServices .tuile a img{
	max-width:90%;
    }
    .blocServices .tuile{
        height: 95px;
    }
    .blocServices .titre {
        font-size: 14px;
    }
}

@media only screen and (min-width : 480px) and (max-width : 766px) {
    .blocServices .tuile a span{
	/*display:none;*/
    }
    .blocServices .tuile a img{
	max-width:90%;
    }
    .blocServices .tuile{
        height: 95px;
    }
    .blocServices .titre {
        font-size: 12px;
    }
}

@media only screen and (min-width : 320px) and (max-width : 479px){
    .blocServices .tuile a span{
	/*display:none;*/
    }
    .blocServices .tuile a img{
	max-width:90%;
    }
    .blocServices .tuile{
        height: 95px;
    }
    .blocServices .titre {
        font-size: 12px;
    }
}