<section class="container-article col-xs-24 onecolnoimg">
    <div class="col-xs-24">
        {% if (arti.titre and arti.titre!='' and arti.showTitle == 1) %}
            <div class="titrePageActu"><span>{{arti.titre}}</span></div><br />
        {% endif %}
        <div class='contenu-article'>
            {{arti.contenu |replace({'http://www.buzancais.fr/2016/':BASEURL})| raw}}
        </div>
    </div>
</section>
{% if arti.showPointille==1 %} <div class="pointilleRose"></div> {% endif %}