<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <uib-accordion close-others="true">
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-newspaper-o"></i><span>Actualités</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/actualites/lists">
                                Gestion des actualités
                            </a>
                        </li>
                        <li>
                            <a href="#/actualites/add">
                                Créer une actualité
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <uib-accordion-group>
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-calendar-check-o"></i><span>Agenda / Evénements</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/agenda/lists">
                                Gestion des événements
                            </a>
                        </li>
                        <li>
                            <a href="#/agenda/add">
                                Ajouter un événement
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-paperclip"></i><span>Articles</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/articles/lists">
                                Mes articles
                            </a>
                        </li>
                        <li>
                            <a href="#/articles/add">
                                Créer un article
                            </a>
                        </li>
                        <li>
                            <a href="#/articles/ordre">
                                Ordonner les articles
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
				<uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-object-group"></i><span>Associations</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/association/entites/lists">
                                Nos associations
                            </a>
                        </li>
                        <li>
                            <a href="#/association/entites/add">
                               Ajouter une association
                            </a>
                        </li>
			<li>
                            <a href="#/association/categories/lists">
                               Catégories d'association
                            </a>
                        </li>
			<li>
                            <a href="#/association/categories/add">
                               Ajouter une catégorie d'association
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <li class="nosub">
                    <a href="#/categories">
                        <i class="fa fa-th-list"></i><span>Catégories</span>
                    </a>
                </li>
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-question"></i><span>Contactez-nous</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/formcontact/lists">
                                Afficher les demandes du formulaire
                            </a>
                        </li>
<!--                        <li>
                            <a href="#/contact/service/lists">
                                Afficher les demandes
                            </a>
                        </li>-->
<!--                    <li>
                            <a href="#/contact/service/add">
                                Créer une adresse de contact
                            </a>
                        </li>
                        <li>
                            <a href="#/contact/service/lists">
                                Mes adresses de contact
                            </a>
                        </li>-->
                    </ul>
                </uib-accordion-group>
                <li class="nosub">
                    <a href="#/flashinfos">
                        <i class="fa fa-bolt"></i><span>Flash infos</span>
                    </a>
                </li>
                
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-camera-retro"></i><span>Médias</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li class="nosub">
                            <a href="#/photovideotheque/photo">
                                <span>Gestion des photos</span>
                            </a>
                        </li>
                        <li class="nosub">
                            <a href="#/photovideotheque/videos">
                                <span>Gestion des vidéos</span>
                            </a>
                        </li>
                        <li class="nosub">
                            <a href="#/medias/documents">
                                <span>Gestion des documents</span>
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
		<uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-bars"></i><span>Menus</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/menus/lists">
                                Mes menus
                            </a>
                        </li>
			<li>
                            <a href="#/menus/add">
                                Créer un nouveau menu
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-archive"></i><span>Modules</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li >
                            <a href="#/modules/add/diaporama">
                                 <span>Diaporama</span>
                            </a>
                        </li>
                        <li >
                            <a href="#/modules/add/caroussel">
                                 <span>Carrousel</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/modules/add/blocdownload">
                                <span>Téléchargements de documents</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/modules/lists/HTMLcontent">
                                <span>Contenu personnalisé</span>
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-files-o"></i><span>Pages</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/pages/lists">
                                Gestion des pages
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                
                
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-cogs"></i><span>Paramètres</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/param/coordonnees">
                                Coordonnées
                            </a>
                        </li>
                        <li>
                            <a href="#/param/sociaux">
                                Réseaux Sociaux
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
<!--                <li class="nosub">
                    <a href="#/trombinoscope/lists">
                        <i class="fa fa-users"></i><span>Trombinoscope</span>
                    </a>
                </li>-->
            </uib-accordion>
            
            <li class="nosub">
                <a href="#/listenl">
                    <i class="fa fa-list-alt"></i><span>Utilisateurs inscrits à la newsletter</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>