<aside class="left-side sidebar-offcanvas">
    <section class="sidebar">
        <ul class="sidebar-menu">
            <li class="nosub">
                <a href="#/categories">
                    <i class="fa fa-files-o"></i> <span>Gestion des catégories</span>
                </a>
            </li>
            <uib-accordion close-others="true">
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-files-o"></i> <span>Gestion de l'agenda</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/agenda/lists">
                                Gestion de les événements
                            </a>
                        </li>
                        <li>
                            <a href="#/agenda/add">
                                Ajouter un événement
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-files-o"></i> <span>Gestion des pages</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/pages/lists">
                                Gestion des pages
                            </a>
                        </li>
                        <li>
                            <a href="#/pages/articles">
                                Gestion des articles
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-files-o"></i> <span>Gestion des actualités</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/actualites/lists">
                                Gestion des actualités
                            </a>
                        </li>
                        <li>
                            <a href="#/actualites/add">
                                Créer une actualité
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-files-o"></i> <span>Paramètres du site</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li>
                            <a href="#/param/coordonnees">
                                Coordonnées
                            </a>
                        </li>
                        <li>
                            <a href="#/param/sociaux">
                                Réseaux Sociaux
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-files-o"></i> <span>Photos / Vidéos</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li class="nosub">
                            <a href="#/photovideotheque/photo">
                                <i class="fa fa-files-o"></i> <span>Gestion des photos</span>
                            </a>
                        </li>
                        <li class="nosub">
                            <a href="#/photovideotheque/videos">
                                <i class="fa fa-files-o"></i> <span>Gestion des vidéos</span>
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
                <uib-accordion-group >
                    <uib-accordion-heading>
                        <a href>
                            <i class="fa fa-files-o"></i> <span>Gestion des modules</span>
                        </a>
                    </uib-accordion-heading>
                    <ul ng-class="">
                        <li >
                            <a href="#/modules/add/diaporama">
                                <i class="fa fa-files-o"></i> <span>Diaporama</span>
                            </a>
                        </li>
                        <li>
                            <a href="#/modules/add/blocdownload">
                                <i class="fa fa-files-o"></i> <span>Téléchargements de documents</span>
                            </a>
                        </li>
                    </ul>
                </uib-accordion-group>
            </uib-accordion>
            <li class="nosub">
                <a href="#/flashinfos">
                    <i class="fa fa-files-o"></i> <span>Gestion des flash infos</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>