body.Histoire,body.Patrimoine,body.Histoire,body.Hébergement,body.Plan{
    background:url('../img/backgroundsCat/fondensemble-histoire.jpg') top left #79472e no-repeat;
}
body.Commerce--Artisanat,body.Zone-Industrielle{
    background:url('../img/backgroundsCat/fondensemble-vieeconomique.jpg') top left #882e2d  no-repeat;
}
body.Déchets,body.Environnement{
    background:url('../img/backgroundsCat/fondensemble-zeropesticide.jpg') top left #89b141 no-repeat;
}
body.Le-maire-et-les-Adjoints,body.Conseil-Municipal,
body.Conseillers-municipaux,body.Services-Municipaux,
body.Services-administratifs,body.Services-techniques,body.Police-Municipale,
body.Salles-municipales,body.Plan-local-d-urbanisme,
body.Mes-démarches-administratives,
body.Démarches-techniques,
body.Marchés-publics,
body.Projets
{
    background:url('../img/backgroundsCat/fondensemble-viemunicipale.jpg') top left #3787e8 no-repeat;
}

body.Piscine,body.Equipements-sportifs{
    background:url('../img/backgroundsCat/fondensemble-sport.jpg') top left #d87b36 no-repeat;
}

/** Couleur triangle ****/
body.Histoire .container-article a.fancyboxme .triangle-picture,
body.Patrimoine .container-article a.fancyboxme .triangle-picture,
body.Plan .container-article a.fancyboxme .triangle-picture,
body.Hébergement .container-article a.fancyboxme .triangle-picture{
    border-color: #351d01 transparent transparent transparent;
}
body.Commerce--Artisanat .container-article a.fancyboxme .triangle-picture,
body.Zone-Industrielle .container-article a.fancyboxme .triangle-picture{
    border-color: #ca1111 transparent transparent transparent;
}

body.Déchets .container-article a.fancyboxme .triangle-picture,
body.Environnement .container-article a.fancyboxme .triangle-picture{
    border-color: #67ba04 transparent transparent transparent;
}
body.Le-maire-et-les-Adjoints .container-article a.fancyboxme .triangle-picture,
body.Conseil-Municipal .container-article a.fancyboxme .triangle-picture,
body.Conseillers-municipaux .container-article a.fancyboxme .triangle-picture,
body.Services-Municipaux .container-article a.fancyboxme .triangle-picture,
body.Services-administratifs .container-article a.fancyboxme .triangle-picture,
body.Services-techniques .container-article a.fancyboxme .triangle-picture,
body.Police-Municipale .container-article a.fancyboxme .triangle-picture,
body.Mes-démarches-administratives .container-article a.fancyboxme .triangle-picture,
body.Démarches-techniques .container-article a.fancyboxme .triangle-picture,
body.Marchés-publics .container-article a.fancyboxme .triangle-picture,
body.Salles-municipales .container-article a.fancyboxme .triangle-picture,
body.Plan-local-d-urbanisme .container-article a.fancyboxme .triangle-picture,
body.Projets .container-article a.fancyboxme .triangle-picture
{
    border-color: #391f02 transparent transparent transparent;
}
body.Piscine .container-article a.fancyboxme .triangle-picture{
    border-color: #321d02 transparent transparent transparent;
}

/*** Bordure Photo ****/
body.Plan .container-article a.fancyboxme img,
body.Patrimoine .container-article a.fancyboxme img,
body.Histoire .container-article a.fancyboxme img,
body.Hébergement .container-article a.fancyboxme img{
    border:2px solid #351d01;
}
body.Commerce--Artisanat .container-article a.fancyboxme img,
body.Zone-Industrielle .container-article a.fancyboxme img{
    border:2px solid #ca1111;
}

body.Déchets .container-article a.fancyboxme img,
body.Environnement .container-article a.fancyboxme img{
    border:2px solid #67ba04;
}

body.Le-maire-et-les-Adjoints .container-article a.fancyboxme img,
body.Conseil-Municipal .container-article a.fancyboxme img,
body.Conseillers-municipaux .container-article a.fancyboxme img,
body.Services-Municipaux .container-article a.fancyboxme img,
body.Mes-démarches-administratives .container-article a.fancyboxme img,
body.Démarches-techniques .container-article a.fancyboxme img,
body.Marchés-publics .container-article a.fancyboxme img,
body.Services-administratifs .container-article a.fancyboxme img,
body.Police-Municipale .container-article a.fancyboxme img,
body.Services-techniques .container-article a.fancyboxme img,
body.Salles-municipales .container-article a.fancyboxme img,
body.Plan-local-d-urbanisme .container-article a.fancyboxme img,
body.Projets .container-article a.fancyboxme img{
    border:2px solid #4a2902;
}
body.Piscine .container-article a.fancyboxme img{
    border:2px solid #4b2b04;
}






.triangle-picture{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    margin:auto;
    position:relative;
    z-index:100;
}

.titrePageActu span{
    background-color:#39302b;
    border-radius:5px;
    padding:3px 10px;
    color:#cfcfcf;
    font-weight:700;   
}
body.Le-maire-et-les-Adjoints .titrePageActu span,
body.Conseil-Municipal .titrePageActu span,
body.Conseillers-municipaux .titrePageActu span,
body.Services-Municipaux .titrePageActu span,
body.Mes-démarches-administratives .titrePageActu span,
body.Démarches-techniques .titrePageActu span,
body.Marchés-publics .titrePageActu span,
body.Services-administratifs .titrePageActu span,
body.Services-techniques .titrePageActu span,
body.Police-Municipale .titrePageActu span,
body.Salles-municipales .titrePageActu span,
body.Plan-local-d-urbanisme .titrePageActu span,
body.Projets .titrePageActu span{
    background-color:#047cf7;
}

.titrePageActu{
    margin:10px 0 0 0px;
}

.container-article .titrePageActu{
    margin:0 0 10px 0px;
}
.container-article.onecolnoimg .titrePageActu,
.container-article.onecolnotxt .titrePageActu
{
    margin:auto;
}
.container-article.onecolnoimg,
.container-article.onecolnotxt
{
    text-align: center;
}
.contenu-article{
    padding-right:10px;
}
.contenu-article p{
    margin:0 0 5px 0;
    line-height: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.img-fullwidth {
    width: 100%;
}
section.container-article{
    margin-top:10px;
    padding:10px 0;
}
section.container-article .caroussel:not(.innerarticlecarou) a.fancyboxme img{
    -moz-box-shadow: 0px 5px 3px 0px #656565;
    -webkit-box-shadow: 0px 5px 3px 0px #656565;
    -o-box-shadow: 0px 5px 3px 0px #656565;
    box-shadow: 0px 5px 3px 0px #656565;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=3);
}
section.container-article .innerarticlecarou .item a span{
    -moz-box-shadow: 0px 5px 3px 0px #656565;
    -webkit-box-shadow: 0px 5px 3px 0px #656565;
    -o-box-shadow: 0px 5px 3px 0px #656565;
    box-shadow: 0px 5px 3px 0px #656565;
    display:block;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=3);
}
.pointilleRose{
    background: url('../img/articles/cerclerond-pointille.png')  bottom center repeat-x;
    height: 3px;
    margin: 0 20px 0 20px;
    width: 90%;
    float: left;
}
.contentPage .innerArticle{
    padding-top:25px;
    padding-left:20px;
}
body.Déchets .contentPage .innerArticle h2,
body.Environnement .contentPage .innerArticle h2,
body.Hébergement .contentPage .innerArticle h2{
    background:url('../img/articles/arbre-charteZero2.png')  80% 0px no-repeat;
    min-height: 42px;
}
.contentPage .innerArticle h2{
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    vertical-align: bottom;
    margin-bottom:0;
    line-height: 42px;
}
.contentPage .colmiddle{
     background-color: #fcfafb;
    padding: 0px 20px 120px 0px;
    margin: 50px 0px 0px 0;
}
body .contentPage .colmiddle,
body .contentPage .colmiddle
{
   
    -moz-box-shadow: 0px 5px 3px -3px #330001;
    -webkit-box-shadow: 0px 5px 3px -3px #330001;
    -o-box-shadow: 0px 5px 3px -3px #330001;
    box-shadow: 0px 5px 3px -3px #330001;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#330001, Direction=180, Strength=3);

}



.contentPage .colmiddle .media-left.media-left-categorie{
    vertical-align:bottom;
}
.linebottomcat{
    width:100%;
    margin-top:-5px;
    height:10px;
    border-radius: 10px 0 0 10px;
}
.legende{
    font-style: italic;
    font-size:11px;
    line-height:13px;
    font-weight: bold;
    color:#4a2902;
    text-align:center;
}
hr{
    margin:5px 0
}

.contenu-article .blocAdjoint{
    background: url('../img/articles/cerclerond-pointille.png') center 125px  repeat-x;
   
}
.contenu-article .titreAdjoint{
    background: #39302b;
    border-radius:10px;
    margin:10px auto;
    color:#c8cccf;
    width:90%;
    text-align: center;
    font-weight: bold;
}
.contenu-article .imgAdjoint{
    border:2px solid #4b2a01;
    -moz-box-shadow: 0px 2px 3px 0px #330001;
    -webkit-box-shadow: 0px 2px 3px 0px #330001;
    -o-box-shadow: 0px 2px 3px 0px #330001;
    box-shadow: 0px 2px 3px 0px #330001;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#330001, Direction=180, Strength=3);
}
.contenu-article .triangleAdjoint{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    margin:auto;
    position:relative;
    z-index:100;
    border-color: #392002 transparent transparent transparent;
}
.contenu-article .nomAdjoint{
    margin-top:10px;
    text-align: center;
    color:#0678fd;
    font-weight: bold;
    height: 40px;
}
.contenu-article .detailFonctionAdjoint{
    margin-top:5px;
    text-align: center;
    color:#2c2a2b;
    height: 60px;
}
.contenu-article .emailAdjoint{
    color:#f3512b;
}

@media only screen and (min-width : 1200px){
    
}
@media only screen and (min-width : 979px) and (max-width : 1199px){
   
}

@media only screen and (min-width : 767px) and (max-width : 978px){
    
}

@media only screen and (min-width : 480px) and (max-width : 766px) {
    
}

@media only screen and (min-width : 320px) and (max-width : 479px){
    
}
