.navbar-inverse{
    background-image: none;
    background-color:#262626;
    border-radius: 0px;
}

.navbar-brand{
    vertical-align: middle;
    padding:0px 15px;
    line-height:52px;
}

.nav.navbar-nav > li{
    display:inline;
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0px;
  border-radius: 0px;
  border:3px solid black;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
}
.navbar-inverse .navbar-nav .mega-dropdown{
    background:url('../img/cercle-bleu.png') left center no-repeat;
}
.navbar-default .navbar-nav>li>a {
  font-weight: bold;
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 101%;
  box-shadow: none;
  -webkit-box-shadow: none;
}


.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li.dropdown-header > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: black;
  white-space: normal;
  font-size: 16px;
}
.mega-dropdown-menu > li > ul > li:not(.dropdown-header) > a {
  display: block;
  padding: 3px 20px 3px 25px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: grey;
  white-space: normal;
  font-size: 12px;
}
.mega-dropdown-menu > li > ul > li:not(.dropdown-header) > a::before {
  content:"> ";
  color:red;
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: black;
}

.mega-dropdown-menu .dropdown-header {
  color: #428bca;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  color:black;
  font-size: 11px;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.mega-dropdown a.dropdown-toggle,.no-dropdown > a{
    font-size: 12px;
    text-transform: uppercase;
}

/****** BG MENU ******/
.dropdown-1 .row{
    background:url('../img/menuBG/visuel-01.jpg') top center repeat-x white;
    padding-top:75px;
}
@media only screen and (min-width : 1006px){
    .mega-dropdown-menu{
        width:100%;
        max-width:100%;
    }
    .mega-dropdown-menu > li{
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding:0 20px;
        display: block;
        float: left;
    }
}
@media (min-width: 1006px) and (max-width:1175px) {
    .collapse{
        float: left;
        width: 94%;
    }
    .nav .dropdown >a,.nav .no-dropdown >a{
        padding: 10px 6px 10px 10px;
        font-size: 11px;
    }
    
}
@media (max-width: 1005px) {
    .dropdown-1 .row{
        background:white;
        padding-top:10px;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  	display:block !important;   
    }
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
@media only screen and (min-width : 1200px) {
    .navbar.navbar-inverse{
        padding-left:25px;
    }
    .navbar-header{
        width:5%
    }
    .nav.navbar-nav{
        width:95%;
    }
}

@media only screen and (min-width : 1024px) and (max-width : 1199px){
    .mega-dropdown >  a{
        font-size:12px;
    }
    .navbar.navbar-inverse{
        padding-left:5px;
    }
    .mega-dropdown-menu{
        width:100%;
        max-width:100%;
    }
    .mega-dropdown-menu > li{
        overflow:hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display:table-cell;
    }
}
@media only screen and (min-width : 979px) and (max-width : 1023px){
    .mega-dropdown >  a{
        font-size:12px;
    }
}
@media only screen and (min-width : 767px) and (max-width : 978px){
   .mega-dropdown >  a{
        font-size:12px;
    }
}

@media only screen and (min-width : 480px) and (max-width : 766px) {

}

@media only screen and (min-width : 320px) and (max-width : 479px){

}
