<div class="modal fade" tabindex="-1" role="dialog" id='modalNewsletter' data-backdrop="">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Inscription à notre newsletter</h4>
      </div>
      <div class="modal-body">
        <p>Si vous souhaitez recevoir par mail nos dernières informations merci de saisir votre adresse email dans le champ ci-dessous et confirmer votre inscription</p>
        <div class="input-group" id="group-nl">
            <input type="text" id='mailvaluenewsletter' class="form-control" placeholder="Adresse mail"  aria-describedby="helpBlockMailNL">
            <span class="input-group-btn">
                <button class="btn btn-success" id="valideInscriptionNL" type="button">Valider</button>
            </span>
        </div>
	<span id="helpBlockMailNL" class="help-block alert" style="display:none"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
      </div>
    </div>
  </div>
</div>