<div class="actualites-center">
    
    <h1>{{actualite.titre}}</h1>
    <div class="actualites-center">
        {{actualite.contenu|raw}}
    </div> 
    
    <div class="triangle-top"></div>
</div>
<div class="triangle-bottom-actu"></div>