<div class="row">
    <div class="col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <span class="title">Créer un lien de menu pour le menu {{nomMenu}}</span>
                <div class="pull-right">
                    <a class="btn btn-success btn-sm" href="#/menus/linkLists/{{idMenu}}" role="button"><i class="fa fa-arrow-left"></i> Annuler</a>
                </div>                
            </header>
            <div class="panel-body panel-action">
                <div class="col-xs-12">
                    <form class="addCat-form" name="ajoutLienMenu" novalidate role="form" ng-if='ready'>		
                        
                        <div class="form-group" ng-class="{'has-error':ajoutLienMenu.nom.$error.required}">
                            <label for="nom">Nom</label>
                            <input type="text" required  class="form-control" ng-model='newLink.nom' id="nom" name="nom">
                            <span ng-show="ajoutLienMenu.nom.$error.required" class="help-block">Ce champ est obligatoire.</span>
                        </div>
			<div class="form-group" >
                            <label for="idPage">Page associée</label>
                            <select class="form-control"  ng-model='newLink.page' id="idPage" name="idPage" ng-options="page as page.Nom for page in listePages track by page.id "></select>
                            
                        </div>
			<div class="form-group">
                            <label for="lienParent">Lien de menu parent</label>
                            <select class="form-control" ng-model='newLink.lienParent' id="lienParent" name="lienParent">
                                <!--<option value="-1">Aucun</option>-->
                                <option ng-value="listeMenuLinks[cle].id" ng-repeat="(cle,val) in listeMenuLinks" ng-bind-html="listeMenuLinks[cle].nom|to_trusted"></option>
                            </select>
                            
                            <!--<select class="form-control" ng-model='newLink.lienParent' id="lienParent" name="lienParent" ng-options="menulink as menulink.nom for menulink in listeMenuLinks track by menulink.id "></select>-->
                        </div>
						
                        <div class="text-center block-center">
                            <button type="submit" class="btn btn-success" ng-disabled="ajoutLienMenu.$error.required" ng-click='addMenuLink(newLink)'>
                               Ajouter ce lien
                            </button>
                        </div>
                    </form>
                    <div class="col-xs-12" ng-if="!ready && errorLienMenu===null">
                        <br /><center><strong>Chargement en cours <i class="fa fa-spin fa-spinner fa-2x"></i></strong><br /></center>
                    </div>
                </div>
            </div>
	</section>
    </div>
</div>