<div class="row">
    <div class="col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <span class="title">Liens du menu {{nomMenu}}</span>
                <div class="pull-right">
                    <a class="btn btn-success btn-sm" href="#/menus/lists" role="button"><i class="fa fa-arrow-left"></i> Annuler</a>
                </div>  
            </header>
            <br />
           
            
            <div class='row'>
                <div class='col-xs-4 col-xs-offset-8'>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Rechercher</span>
                        <input type="text" class="form-control" ng-model='filtreLinks' aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="panel-body panel-action">
                <div class="col-xs-12" ng-if="ready">
                    <table class="table table-hover table-responsive table-striped" ng-if="listeMenus.length>0 && listeMenus!=null">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Page associée</th>
                                <th>Lien parent</th>
                                <th>Position</th>
                                <th width='80px'>Editer</th>
                                <th width='80px'>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(k,v) in listeMenus|filter:filtreLinks">
                                <td ng-bind-html="v.nom | to_trusted"></td>
                                <td ng-if='v.nomPage!==null'>
                                    {{v.nomPage}}
                                </td>
                                <td ng-if='v.nomPage===null'>Aucune (alias de lien de menu)</td>
                                <td>{{v.NomParent}}</td>
                                <td>{{v.ordre}}</td>
                                <td class="text-center">
                                    <a class='btn btn-sm btn-info' title='Modifier' role="button" ng-href="#/menus/updatelink/{{v.idMenu}}/{{v.id}}">
                                        <i class='fa fa-pencil-square-o'></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <button class='btn btn-sm btn-danger block-center text-center' title='Supprimer' ng-click='deleteMenu(v.id)'>
                                        <i class='fa fa-times'></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5" class="text-center"><a role='button' ng-href='#/menus/addLink/{{idMenu}}' class='btn btn-success'>Ajouter un nouveau lien de menu</a></td>
                            </tr>
                        </tfoot>
                    </table>
                    
                    <div ng-if="listeMenus===null" class='text-center'>
                        <br />
                        <br />
                        <br />
                        Vous n'avez pas encore créé de lien de menu pour ce menu <a role='button' ng-href='#/menus/addLink/{{idMenu}}' class='btn btn-info'>Créer un lien de menu</a>
                        <br />
                        <br />
                        <br />
                    </div>
                </div>
				
		<div class="col-xs-12" ng-if="!ready">
                    <br /><center><strong>Chargement en cours <i class="fa fa-spin fa-spinner fa-2x"></i></strong></center><br />
                </div>
                
            </div>
	</section>
    </div>
</div>