<div class="row">
    <div class="col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <span class="title">Gestion de l'ordre des articles d'une page</span>
            </header>
            <div class="panel-body panel-action" ng-show="ready">
                <div class="col-xs-12">
                    <h3>Etape 1 </h3>
                    <div class="form-group">
                        <label for="idPage">Sélectionnez la page concernée dans la liste ci-dessous</label>
                        <select class="form-control" ng-change='getArticlesByPage()' required ng-model='idPage' id="idPage" name="idPage" ng-options="page as page.Nom for page in listePages track by page.id "></select>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-action" ng-show="listeArticle.length>0">
                <div class="col-xs-12">
                    <h3>Etape 2 </h3>
                    <div class="form-group">
                        <label for="idPage">Vous pouvez gérer l'ordre des articles suivants grâce aux flèches</label>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row titleHeaderArticle">
                        <div class="col-xs-3">Titre</div>
                        <div class="col-xs-5">Résumé</div>
                        <div class="col-xs-2">Position</div>
                        <div class="col-xs-2"></div>
                    </div>
                    <div class="row blockArticleTrie" ng-repeat="(item,value) in listeArticle">
                        <div class="col-xs-3">{{value.titre}}</div>
                        <div class="col-xs-5">{{value.resume}}</div>
                        <div class="col-xs-2 text-center">
                            {{value.ordreArticle}}
                        </div>
                        <div class="col-xs-2 text-center">
                            <button class="btn btn-info" ng-disabled="updateOrdreEnCours" ng-click="updateSensArticle(value.id,'-',value.ordreArticle)" ng-if="value.ordreArticle>1"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
                            <button class="btn btn-info" ng-disabled="updateOrdreEnCours" ng-click="updateSensArticle(value.id,'+',value.ordreArticle)" ng-if="value.ordreArticle<listeArticle.length"><i class="fa fa-arrow-down" aria-hidden="true"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body panel-info" ng-show="!ready">
                <div class="col-xs-12 text-center">Récupération des éléments en cours ....</div>
            </div>
            
	</section>
    </div>
</div>

