<div class="row">
    <div class="col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <span class="title">Modification d'une association</span>
                <div class="pull-right">
                    <a class="btn btn-danger btn-sm" href="#/association/entites/lists" role="button"><i class="fa fa-arrow-left"></i> Annuler</a>
                </div>                
            </header>
            <br />
            <div class="panel-body panel-action" >
            <div class="col-xs-12">
                    <form class="addCat-form" name="updateCat" novalidate role="form">
                        <div class="form-group"  ng-class="{'has-error':updateCat.nom.$error.required}">
                            <label for="nom">Nom de l'association</label>
                            <input type="text" required class="form-control" ng-model='newAsso.nom' id="nom" name="nom">
                            <span class="help-block" ng-show="updateCat.nom.$error.required">Ce champ est obligatoire.</span>
                        </div>
                        <div class="row nopadding">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <label for="icone">Image de l'association</label>
                                    <input type="file" ng-click='changeIcone(true)' ng-model="newAsso.image" file-select="data"  id="image">
                                    <span id="holder"></span>
                               </div>
                            </div>
                            <div class="col-xs-6" ng-if="newAsso.updateIcone===false && newAsso.image!==null && newAsso.image!==''">
                                <img ng-src="{{imagePath}}{{newAsso.image}}">
                                <button class='btn btn-sm btn-defaut' title='Supprimer cette image' ng-click='changeIcone(false)'><i class='fa fa-times'></i></button>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{'has-error':ajoutAsso.idCategorie.$error.required}">
                            <label for="idCategorie">Catégorie</label>
                            <select require class="form-control" ng-model='newAsso.idCategorie' id="idCategorie" name="idCategorie" ng-options="categorie as categorie.nom for categorie in listeCatAsso track by categorie.id "></select>
                            <span class="help-block" ng-show="ajoutAsso.idCategorie.$error.required">Ce champ est obligatoire.</span>
                        </div>
                        <div class="form-group">
                            <label for="Contenu">Description</label>
                            <textarea cols="30" rows="50" 
                                    ng-model="newAsso.contenu"
                                    name="Contenu"
                                    ckeditor="editorOptions" >
                            </textarea>
                        </div>
                        <div class="text-center block-center">
                            <button type="submit" ng-disabled="updateCat.nom.$error.required" class="btn btn-success" ng-click='updateAsso(newAsso)'>
                                Modifier cette association
                            </button>
                        </div>
                    </form>
                <hr />
                </div>
                </div>
        </section>
    </div>
</div>