.blocCoordonnesTR{
    background:url('../img/cadre-coordonnee-vide.png') top center no-repeat;
    margin-top:-35px;
    height:210px;
    position: relative;
    background-size:cover;
    width: 100%;
}
.blocCoordonnesTR .titre{
    font-size: 24px;
    letter-spacing: -1px;
    font-family: 'Open Sans Condensed', sans-serif;
    padding:0 20px;
    position:absolute;
    color:#f9ed0d;
    font-weight: 900;
    bottom:-5px;
}
.triangle-menu-right{
    border-color: #391f01 transparent transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    float: left;
    margin-left: 46%;
}
.blocCoordonnesTRcontent{
    position: relative;
    font-family: "Roboto",sans-serif;
    width:100%;
    clear: both;
    background:#4a2902;
    padding:0px 20px 0;
}
.blocCoordonnesTRcontent p{
    margin:0;
    color:white;
}

.blocCoordonnesTRcontent .brown,.blocCoordonnesTRcontent .brown a{
    color:#be9043;
}
.blocCoordonnesTRcontent .contact{
    text-align: center;
    margin-top:10px;
    border-top:1px dashed grey;
    border-bottom:1px dashed grey;
}
.blocCoordonnesTRcontent .contact a{
    color:#d3b287;
}
@media only screen and (min-width : 1400px){
    .blocCoordonnesTR{
        height:240px;
    }
}
@media only screen and (min-width : 1200px) and (max-width : 1399px){
    .blocCoordonnesTR{
        height:210px;
    }
}
@media only screen and (min-width : 979px) and (max-width : 1199px){
    .blocCoordonnesTR{
	height:190px;
    }
}

@media only screen and (min-width : 767px) and (max-width : 978px){
    
}

@media only screen and (min-width : 480px) and (max-width : 766px) {
    .blocCoordonnesTRcontent{
        bottom:5px;
        line-height:21px;
    }
    .nopadding{
        padding:0 15px;
    }
    .blocCoordonnesTR {
        background: url('../img/cadre-coordonnee.png')  top center  no-repeat;
        background-size:cover;
        height:550px;
    }
}

@media only screen and (max-width : 479px){
    .nopadding{
        padding:0 15px;
    }
    .blocCoordonnesTR {
        background: url('../img/cadre-coordonnee.png') top left no-repeat;
    }
}