<div class="row">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="{{BASEURL}}index.html"><i class="fa fa-home fa-lg"></i></a>
    </div>

    <div class="collapse navbar-collapse js-navbar-collapse">
      <ul class="nav navbar-nav">
        {% for m in menus %}
            {% set compteur=1 %}
            {% if m.position=='HEADER'%}
                {% include 'global/portionMenu.twig' with {'menu': m.liens,'cpt':compteur,'depth':0} %}
            {% endif %}
        {% endfor %}  
      </ul>
    </div>
  </nav>
</div>