<div class="row">
    <div class="col-xs-12">
        <section class="panel">
            <header class="panel-heading">
                <span class="title">Gestion des pages de votre site</span>
                <div class="pull-right">
                    <a class="btn btn-success btn-sm" ng-click="collapseAddPage = !collapseAddPage" role="button"><i class="fa fa-plus"></i> Créer une nouvelle page</a>
                </div>                
            </header>
            <br />
            <div class='row'>
                <div class='col-xs-4 col-xs-offset-8'>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Rechercher</span>
                        <input type="text" class="form-control" ng-model='filtrePage' aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <div class="panel-body panel-action" uib-collapse="collapseAddPage">
                <div class="col-xs-12">
                    <form class="addCat-form" novalidate role="form">
					
                        <div class="form-group" ng-class="{'has-error':controleChamp.titre}">
                            <label for="title">Titre</label>
                            <input type="text" class="form-control" ng-model='newPage.titre' id="title" aria-describedby="helpBlockTitre">
                            <span id="helpBlockTitre" class="help-block" ng-show="controleChamp.titre">Ce champ est obligatoire.</span>
                        </div>
                        
			<div class="form-group" ng-class="{'has-error':controleChamp.Nom}">
                            <label for="Nom">Nom</label>
                            <input type="text" ng-change="setURL(newPage.Nom)" class="form-control" ng-model='newPage.Nom' id="Nom" aria-describedby="helpBlockNom">
                            <span id="helpBlockNom" class="help-block" ng-show="controleChamp.Nom">Ce champ est obligatoire.</span>
                        </div>
				
			<div class="form-group" ng-class="{'has-error':controleChamp.type}">
                            <label for="name">Type de la page</label>
                            <select class="form-control" ng-model='newPage.type' name="type" id="type" aria-describedby="helpBlockType">
                                    <!--<option value="1">Page d'accueil du site</option>-->
                                    <option value="2">Page d'affichage d'un ou plusieurs articles</option>
                                    <option value="3">Page d'affichage des actualités</option>
                                    <option value="4">Page de formulaire de contact</option>
                            </select>
                            <span id="helpBlockType" class="help-block" ng-show="controleChamp.type">Ce champ est obligatoire.</span>
                        </div>

                        <div class="form-group" ng-class="{'has-error':controleChamp.idTheme}">
                            <label for="name">Thème de la page </label>
                            <span class="label label-danger" ng-if="themesError!=null">{{themesError}}</span>
                            <select ng-if="themesError===null" class="form-control" ng-model='newPage.idTheme' id="parent" ng-options="theme as theme.nom for theme in listeThemes track by theme.id" aria-describedby="helpBlockTheme"></select>
                            <span id="helpBlockTheme" class="help-block" ng-show="controleChamp.idTheme">Ce champ est obligatoire.</span>
                        </div>

                        <div class="form-group">
                            <label for="desc">Description</label>
                            <textarea class="form-control" rows="5" ng-model='newPage.description' id="desc"></textarea>
                        </div>

                        <div class="form-group">
                            <label for="motsclefs">Mots-clés <em>(séparés par des ,)</em></label>
                            <input type="text" class="form-control" maxlength="255" ng-model='newPage.motsclefs' id="motsclefs">
                        </div>
                        <div class="alert alert-danger" ng-if="pagesErrorAddPage!==null">
                            {{ pagesErrorAddPage }}
                        </div>
                        <div class="text-center block-center">
                            <button type="submit" class="btn btn-success" ng-click='addPage(newPage)'>
                                <span ng-if="newPage.toChange">Modifier cette page</span>
                                <span ng-if="!newPage.toChange">Créer cette page</span>
                            </button>

                            <button ng-if="newPage.toChange" class="btn btn-danger" type="button" ng-click='annuleModification()'>Annuler</button>
                        </div>
                    </form>
                <hr />
                </div>
            </div>
            
            <div class="panel-body" ng-show="pagesError===null && listePages.length>0">
                <table class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nom</th>
                            <th>Titre</th>
                            <th>Thème</th>
                            <th>Date</th>
                            <th width='80px'>Editer</th>
                            <th width='80px'>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr ng-repeat="(item,value) in listePages |filter:filtrePage">
                            <td>{{value.id}}</td>
                            <td>{{value.Nom}}</td>
                            <td>{{value.titre}}</td>
                            <td>{{value.ThemeName}}</td>
                            <td>{{value.date}}</td>
                            <td class="text-center">
                                <button class='btn btn-sm btn-info' title='Modifier' ng-click='updatePage(value)'>
                                    <i class='fa fa-pencil-square-o'></i>
                                </button>
                            </td>
                            <td class="text-center">
                                <button class='btn btn-sm btn-danger block-center text-center' title='Supprimer' ng-click='delPage(value)'>
                                    <i class='fa fa-times'></i>
                                </button>
                            </td>
                            
                        </tr>
                </table>
            </div>
            <div class="panel-body" ng-show="pagesError!==null || listePages.length==0">
                <div class="col-xs-12" ng-show="pagesError!==null">
                    {{ pagesError }}
                </div>
                <div class="col-xs-12 alert alert-warning" ng-show="pagesError===null && listePages.length==0">
                    Vous n'avez créé aucune page
                </div>
            </div>
        </section>
    </div>
</div>