@media only screen and (min-width : 1200px) {
    
}

@media only screen and (min-width : 1024px) and (max-width : 1199px){
    
}
@media only screen and (min-width : 979px) and (max-width : 1023px){
    .blocDownload #titreDownload{
        font-size:22px;
    }
    .blocAgendas #titreAgendas{
        font-size:22px;
    }
}
@media only screen and (min-width : 767px) and (max-width : 978px){
    .blocDownload #titreDownload{
        font-size:18px;
    }
    .blocAgendas #titreAgendas{
        font-size:18px;
    }
}

@media only screen and (min-width : 480px) and (max-width : 766px) {

}

@media only screen and (min-width : 320px) and (max-width : 479px){

}
